# Ignore .env file containing sensitive information
.env

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

 .cache/
 .local/
 .virtualenvs/

.python_history
.bash_history
.bashrc
.vimrc
.profile
.pythonstartup.py
.gitconfig
.hello

# Ignore SSH
.ssh/

# Ignore other common files and directories
.DS_Store
.vscode/
*.log
.DS_Store
