# Ignore .env file containing sensitive information
.env

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.python_history
.pythonstartup.py

# Ignore SSH
.ssh/
.local/
.cache/

.virtualenvs/
.local/

# Ignore other common files and directories
.DS_Store
.vscode/
*.log
.DS_Store
.bash_history
.bashrc
.vimrc
.profile
.env
