# Ignore .env file containing sensitive information
.env

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore SSH
.ssh/
.local/

.virtualenvs/
.local/

# Ignore other common files and directories
.DS_Store
.vscode/
*.log
.DS_Store
